@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

/*reset*/

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    outline: 0;
    color: #555;
}

img {
    border: 0;
}

body {
    font: 12px/1.6 'Poiret One', cursive;
    color: #555;
}


/*레이아웃*/

header {
    position: fixed;
    width: 15%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

nav {
    position: relative;
    width: 85%;
    height: 35px;
    background-color: #212121;
    margin-left: 15%;
    transition: all 0.5s;
}

section {
    position: relative;
    width: 85%;
    margin-left: 15%;
}

section article {
    float: left;
    height: 260px;
    animation: scale 1s 1;
    transition: all 0.5s;
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

article:nth-child(1) {
    width: 60%;
    height: 520px;
    background: #aaa;
}

article:nth-child(2) {
    width: 40%;
    background: #bbb;
}

article:nth-child(3) {
    width: 20%;
    background: #ccc;
}

article:nth-child(4) {
    width: 20%;
    background: #ddd;
}

article:nth-child(5) {
    width: 20%;
    background: #eee;
}

article:nth-child(6) {
    width: 40%;
    background: #fff;
}

article:nth-child(7) {
    width: 20%;
    background: #222;
}

article:nth-child(8) {
    width: 20%;
    background: #333;
}

article:nth-child(9) {
    width: 40%;
    background: #444;
}

article:nth-child(10) {
    width: 20%;
    background: #555;
}

article:nth-child(11) {
    width: 20%;
    background: #666;
}

article:nth-child(12) {
    width: 20%;
    background: #777;
}


/*header 컨텐츠*/

header h1 {
    background: url(../img/logo01.png) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 136px;
    text-indent: -9999px;
}

ul.gnb {
    position: absolute;
    top: 300px;
    right: 57px;
}

ul.gnb li {}

ul.gnb li a {
    display: block;
    padding: 8px 30px;
    font-size: 17px;
    font-weight: bold;
    color: #555;
    text-align: left;
    line-height: 1.8;
    transition: all 0.5s;
}

ul.gnb li a:hover {
    color: #CC9D58;
}

ul.gnb li a i {
    margin-right: 13px;
}

.sns {
    width: 90px;
    height: 47px;
    position: absolute;
    bottom: 50px;
    right: 50%;
    margin-right: -45px;
}

.sns a {
    float: left;
}
/*nav*/
nav a{
    position: absolute;
     top: 5px;
}
nav a:nth-child(1){
    left: 10px;
}
nav a:nth-child(2){left: 150px;}
nav a:nth-child(3){right: 90px;}
nav a:nth-child(4){right: 10px;}

article>div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
/*배경이미지삽입*/
article .bg1{
    background-image: url(../img/pho01.jpg);
}
article .bg2{ background-image: url(../img/pho02.jpg);}
article .bg3{ background-image: url(../img/pho03.jpg);}
article .bg4{ background-image: url(../img/pho04.jpg);}
article .bg5{ background-image: url(../img/pho05.jpg);}
article .bg6{ background-image: url(../img/pho06.jpg);}
article .bg7{ background-image: url(../img/pho07.jpg);}

/*이미지 박스*/
article .bg{
    background-size: cover;
    background-position: center center;
}    
article .bg span{
    font-size: 60px;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 20px;
    transform: scale(10);
    transition: all 0.6s;
    opacity: 0;
}
article .bg1 span{
    font-size: 170px;
    color: #fff;
    bottom: -76px;
    right: -6px;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s;
}
/*이미지박스 마우스 오버 효과*/
article:hover .bg span{
    opacity: 1;
    transform: scale(1);
}
article:hover .bg1 span{
    color: #222;
    transform: rotateY(360deg);
}
/*텍스트박스*/
article .txt{
    color: #666;
    background: #fff;
    box-sizing: border-box;
    padding: 40px 30px;
    transition: all 1s;
}
article:nth-child(3) .txt{
    background: #f3cfab;
}
article:nth-child(11) .txt{
    background: #e3f1fb;
}
article .txt i{
    font-size: 300px;
    color: #fff;
    position: absolute;
    bottom: -70px;
    right: -200px;
    opacity: 0;
    transition: all 0.7s;
}
article:nth-child(3) .txt i{
    position: absolute;
    bottom: -20px;
    right: -15px;
    font-size: 200px;
    color: #fff;
    opacity: 0.7;
}
article .txt p{}
article .txt p strong{
    font-size: 30px;
    font-weight: normal;line-height: 1.6;
    color: #444;
    margin-bottom: 20px;
    transition: all 1s;
}
article .txt p em{
    display: block;
}
/*텍스트박스 오버효과*/
article:hover .txt{
    background: #f3cfab;
    color: #fff;
}
article:hover .txt i{
    right: 0;
    opacity: 0.5;
}
article:hover .txt strong{
    color: #fff;
}

@media screen and (min-width:1280px) and (max-width:1599px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }
    nav {
        margin-left: 0;
        width: 100%;
    }
    section {
        width: 100%;
        margin-left: 0;
    }
    header h1 {
        background-image: url(../img/logo2.png);
        top: 20px;
        left: 20px;
        width: 200px;
        height: 40px;
        margin-left: 0;
    }
    ul.gnb {
        top: 20px;
        right: 200px;
    }
    ul.gnb li {
        float: left;
    }
    .sns {
        bottom: 20px;
        right: 80px;
    }
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }
    nav {
        margin-left: 0;
        width: 100%;
    }
    section {
        width: 100%;
        margin-left: 0;
    }
    article:nth-child(1) {
        width: 75%;
    }
    article:nth-child(2) {
        width: 25%;
    }
    article:nth-child(3) {
        width: 25%;
    }
    article:nth-child(4) {
        width: 25%;
    }
    article:nth-child(5) {
        width: 25%;
    }
    article:nth-child(6) {
        width: 50%;
    }
    article:nth-child(7) {
        width: 50%;
    }
    article:nth-child(8) {
        width: 25%;
    }
    article:nth-child(9) {
        width: 25%;
    }
    article:nth-child(10) {
        width: 50%;
    }
    article:nth-child(11) {
        width: 25%;
    }
    article:nth-child(12) {
        width: 25%;
    }
    header h1 {
        background-image: url(../img/logo02.png);
        top: 20px;
        left: 20px;
        width: 200px;
        height: 40px;
        margin-left: 0;
    }
    ul.gnb {
        top: 20px;
        right: 30px;
    }
    ul.gnb li {
        float: left;
    }
    .sns {
        display: none;
    }
}

@media screen and (min-width:780px) and (max-width:1023px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }
    nav {
        margin-left: 0;
        width: 100%;
    }
    section {
        width: 100%;
        margin-left: 0;
    }
    article:nth-child(1) {
        width: 100%;
        height: 400px;
    }
    article:nth-child(2) {
        width: 66.66%;
    }
    article:nth-child(3) {
        width: 33.33%;
    }
    article:nth-child(4) {
        display: none;
    }
    article:nth-child(5) {
        width: 33.33%;
    }
    article:nth-child(6) {
        width: 66.66%;
    }
    article:nth-child(7) {
        display: none;
    }
    article:nth-child(8) {
        width: 33.333%;
    }
    article:nth-child(9) {
        width: 33.333%;
    }
    article:nth-child(10) {
        display: none;
    }
    article:nth-child(11) {
        width: 33.333%;
    }
    article:nth-child(12) {
        display: none;
    }
    header h1 {
        background-image: url(../img/logo2.png);
        top: 20px;
        left: 20px;
        width: 200px;
        height: 40px;
        margin-left: 0;
    }
    ul.gnb {
        top: 20px;
        right: 10px;
    }
    ul.gnb li {
        float: left;
    }
    ul.gnb li a {
        padding: 10px 10px;
    }
    .sns {
        display: none;
    }
}

@media screen and (min-width:640px) and (max-width:779px) {
    header {
        position: relative;
        width: 100%;
        height: 80px;
    }
    nav {
        margin-left: 0;
        width: 100%;
    }
    section {
        width: 100%;
        margin-left: 0;
    }
    article:nth-child(1) {
        width: 100%;
        height: 400px;
    }
    article:nth-child(2) {
        width: 50%;
    }
    article:nth-child(3) {
        visibility: hidden;
    }
    article:nth-child(4) {
        display: none;
    }
    article:nth-child(5) {
        width: 50%;
    }
    article:nth-child(6) {
        width: 50%;
    }
    article:nth-child(7) {
        display: none;
    }
    article:nth-child(8) {
        width: 50%;
    }
    article:nth-child(9) {
        width: 50%;
    }
    article:nth-child(10) {
        display: none;
    }
    article:nth-child(11) {
        width: 50%;
    }
    article:nth-child(12) {
        width: 50%;
    }
    header h1 {
        background-image: url(../img/logo2.png);
        top: 20px;
        left: 20px;
        width: 200px;
        height: 40px;
        margin-left: 0;
    }
    ul.gnb {
        top: 20px;
        right: 10px;
    }
    ul.gnb li {
        float: left;
    }
    ul.gnb li a {
        padding: 10px 10px;
    }
    .sns {
        display: none;
    }
}

@media screen and (min-width:480px) and (max-width:639px) {
    header {
        position: relative;
        width: 100%;
        height: 130px;
    }
    nav {
        display: none;
    }
    section {
        width: 100%;
        margin-left: 0;
    }
    article:nth-child(1) {
        width: 100%;
        height: 300px;
    }
    article:nth-child(2) {
        width: 100%;
        height: 150px;
    }
    article:nth-child(3) {
        display: none;
    }
    article:nth-child(4) {
        display: none;
    }
    article:nth-child(5) {
        width: 50%;
    }
    article:nth-child(6) {
        width: 50%;
    }
    article:nth-child(7) {
        display: none;
    }
    article:nth-child(8) {
        width: 50%;
    }
    article:nth-child(9) {
        width: 50%;
    }
    article:nth-child(10) {
        display: none;
    }
    article:nth-child(11) {
        width: 50%;
    }
    article:nth-child(12) {
        width: 50%;
    }
    header h1 {
        position: relative;
        background-image: url(../img/logo2.png);
        top: 20px;
        left: 0;
        width: 200px;
        height: 45px;
        margin: 0 auto;
    }
    ul.gnb {
        width: 100%;
        height: 40px;
        top: 80px;
        right: 0;
    }
    ul.gnb li {
        float: left;
        width: 25%;
    }
    ul.gnb li a {
        padding: 4px;
        text-align: center;
    }
    .sns {
        display: none;
    }
    
    article .bg1 span{
        font-size: 120px;
        bottom: -50px;
    }
    article .txt p strong{
        font-size: 25px;
    }
    article .txt p em{
        display: none;
    }
}

@media screen and (max-width:479px) {
    header {
        position: fixed;
        width: 100%;
        height: 40px;
        background: transparent;
        z-index: 5;
    }
    nav {
        display: none;
    }
    section {
        width: 100%;
        margin-left: 0;
        z-index: 4;
    }
    article {
        display: none;
    }
    article:nth-child(1) {
        position: fixed;
        width: 100%;
        height: 100%;
        display: block;
    }
    header h1 {
        width: 140px;
        top: 20px;
        margin-left: -70px;
    }
    ul.gnb {
        width: 250px;
        top: 140px;
        right: 50%;
        margin-right: -125px;
    }
    ul.gnb li a{
        width: 100%;
        background: #000;
        box-sizing: border-box;
        margin: 8px 0;
        border-radius: 10px;
        opacity: 0.5;
        color: #fff;
    }
    ul.gnb li a:hover{
        opacity: 1;
        transform: scale(1.1);
    }
    article:nth-child(1) span{
        display: none;
    }
}